<a href="https://colab.research.google.com/github/skhan66/Internship-DA/blob/main/chipotle_orders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. How to load data?
2. How to work on csv / tsv file?
3. Basic Statistics on Data.
4. Data Cleaning with each column.
5. Choice description
6. Regular Expression
7. Solve some questions from dataset.

In [1]:
# importing libraries
import numpy as np
import pandas as pd

## Read Data

In [5]:
data = pd.read_csv("/content/drive/MyDrive/Data-cleaning-for-beginners-using-pandas (1).csv")

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
copy_data = data.copy()

In [18]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [19]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [20]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.shape

(29, 7)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [22]:
missing_values = data.isnull().sum()
print(missing_values)

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [23]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [24]:
sample = data.columns.str.lower().str.replace(" ","_")

In [25]:
text = '$40k-$100k'
text.replace('$',"")

'40k-100k'

40-100

40000-100000

In [26]:
sample

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

## Age column

In [27]:
avg_age = data['Age'].mean()
avg_age

39.04545454545455

In [28]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=1)

In [29]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2  39.0  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [30]:
data['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

Replace

In [31]:
data['Location'].value_counts()

New York,Ny      12
India,In          9
Australia Aus     7
India In          1
Name: Location, dtype: int64

In [32]:
data['Location'] = data['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})

```
# 1. Missing Values:

In [ ]:
# Remove rows with any missing values
data_cleaned = data.dropna()

In [33]:
# Impute missing values with the mean of each column
data['Age'].fillna(data['Age'].mean(), inplace=True)

In [34]:
# Convert salary ranges to numerical values (average)
import re
data['Salary'] = data['Salary'].astype(str).apply(lambda x: np.mean([int(s) for s in re.sub('[^0-9]', '', x).split('-')]))
data['Salary'].fillna(data['Salary'].median(), inplace=True)

In [35]:
data['Rating'].fillna(data['Rating'].mean(), inplace=True)

In [36]:
data['Location'].fillna(data['Location'].mode()[0], inplace=True)

In [37]:
data['Established'].fillna(data['Established'].median(), inplace=True)
data['Established'] = data['Established'].apply(lambda x: abs(x) if x < 0 else x)

In [38]:
data['Easy Apply'].fillna(data['Easy Apply'].mode()[0], inplace=True)

2. Data types: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [ ]:
data_types = data.dtypes
print(data_types)

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [ ]:
data['Salary'] = data['Salary'].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
data['Location'] = data['Location'].astype('category')

In [ ]:
data['Easy Apply'] = data['Easy Apply'].map({'TRUE': True, 'FALSE': False})
data['Easy Apply'] = data['Easy Apply'].astype('bool')

In [ ]:
data_types_updated = data.dtypes
print(data_types_updated)

Index             int64
Age             float64
Salary          float64
Rating          float64
Location       category
Established       int64
Easy Apply         bool
dtype: object

3. Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

In [ ]:
# Remove rows with outliers
Q1 = data[['Age', 'Salary', 'Rating']].quantile(0.25)
Q3 = data[['Age', 'Salary', 'Rating']].quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = ((data[['Age', 'Salary', 'Rating']] < (Q1 - 1.5 * IQR)) | (data[['Age', 'Salary', 'Rating']] > (Q3 + 1.5 * IQR)))

# Remove rows with outliers
data_no_outliers = data[~outliers.any(axis=1)]

4. Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [ ]:
print(data['Salary'].head())

0    715.0
1    605.0
2    830.0
3    715.0
4    715.0
Name: Salary, dtype: float64

5.  Check the consistency of location entries. Do they need standardization, and how can this be achieved?

In [ ]:
# Standardize location entries by removing spaces and converting to uppercase
data['Location'] = data['Location'].str.replace(' ', '').str.upper()
print(data['Location'].unique())

['INDIA' 'NEWYORK' 'AUSTRALIA']

# 6. Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

In [ ]:
print(data['Established'].unique())

[1999 2002    1 1988 2008 2009 2019 2020 1984 1943 1954 1955 1944 1946
 1987 1980 1934 1935 1932]

7. Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?

In [ ]:
easy_apply_values = data['Easy Apply'].unique()
print(easy_apply_values)

[ True]

 8. Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [ ]:
Q1 = data['Rating'].quantile(0.25)
Q3 = data['Rating'].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
outliers = (data['Rating'] < (Q1 - 1.5 * IQR)) | (data['Rating'] > (Q3 + 1.5 * IQR))
data_no_outliers = data[~outliers]

9.  Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [ ]:
Q1 = data['Age'].quantile(0.25)
Q3 = data['Age'].quantile(0.75)
IQR = Q3 - Q1

outliers = (data['Age'] < (Q1 - 1.5 * IQR)) | (data['Age'] > (Q3 + 1.5 * IQR))
unique_ages = data['Age'].unique()
print(unique_ages)

[44.         66.         39.04545455 64.         25.         21.
 35.         22.         55.         19.         32.         13.
 52.        ]

10. Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

In [ ]:
data['Location'] = data['Location'].str.strip()
data['Location'] = data['Location'].replace('[^A-Za-z0-9\s,]', '', regex=True)
data[['Location', 'Salary']]

     Location  Salary
0       INDIA   715.0
1     NEWYORK   605.0
2     NEWYORK   830.0
3       INDIA   715.0
4   AUSTRALIA   715.0
5       INDIA   830.0
6     NEWYORK   715.0
7   AUSTRALIA   715.0
8     NEWYORK   715.0
9       INDIA   715.0
10      INDIA   295.0
11      INDIA   295.0
12      INDIA   715.0
13  AUSTRALIA   715.0
14  AUSTRALIA   715.0
15  AUSTRALIA   945.0
16      INDIA   295.0
17    NEWYORK   715.0
18    NEWYORK   715.0
19    NEWYORK   715.0
20    NEWYORK   715.0
21    NEWYORK   715.0
22    NEWYORK   605.0
23    NEWYORK   715.0
24    NEWYORK   715.0
25  AUSTRALIA   715.0
26      INDIA   605.0
27      INDIA   715.0
28  AUSTRALIA   635.0

11. Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [ ]:
import datetime

# Check if Established aligns with Age based on the current year
current_year = datetime.datetime.now().year

# Calculate the expected age based on the Established column
data['Expected_Age'] = current_year - data['Established']

# Compare Expected_Age with the Age column
mismatched_entries = data[data['Expected_Age'] != data['Age']]

# Display mismatched entries
print("Mismatched Entries:")
print(mismatched_entries[['Established', 'Age', 'Expected_Age']])

12. If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

In [7]:
# Display unique values in the "Easy Apply" column
print("Unique values in Easy Apply:", data['Easy Apply'].unique())

# Map non-boolean values to boolean values
data['Easy Apply'] = data['Easy Apply'].map({'YES': True, 'NO': False, 'Y': True, 'N': False})

# Display updated unique values in the "Easy Apply" column
print("Updated unique values in Easy Apply:", data['Easy Apply'].unique())

Unique values in Easy Apply: ['TRUE' '-1']
Updated unique values in Easy Apply: [nan]

13. Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [8]:
import difflib

# Display unique values in the "Location" column
unique_locations = data['Location'].unique()

# Create a function to find similar strings
def find_similar_strings(input_str, str_list):
    return difflib.get_close_matches(input_str, str_list, n=1, cutoff=0.8)

# Check for misspelled or ambiguous locations
for location in unique_locations:
    similar_location = find_similar_strings(location, unique_locations)
    if similar_location and similar_location[0] != location:
        print(f"Potential correction for {location}: {similar_location[0]}")

14. For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

In [10]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
data['Category_LabelEncoded'] = label_encoder.fit_transform(data['Age'])

15. Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [11]:
print("Unique values in Rating:", data['Rating'].unique())

Unique values in Rating: [ 5.4  3.5 -1.   4.4  6.4  1.4  0.   7.7  6.7  4.   3.   4.5  5.3  3.3
  5.7  5.   7.8  2.4  nan  3.4]

In [13]:
from sklearn.preprocessing import MinMaxScaler

# Step 1: Handling Negative Values
data['Rating'] = data['Rating'].replace(-1.0, np.nan)

# Step 2: Handling Missing Values
data['Rating'].fillna(data['Rating'].median(), inplace=True)

# Step 3: Normalizing Ratings
scaler = MinMaxScaler()
data['Normalized_Rating'] = scaler.fit_transform(data[['Rating']])
print("Unique values in Rating:", data['Rating'].unique())

Unique values in Rating: [5.4  3.5  4.75 4.4  6.4  1.4  0.   7.7  6.7  4.   3.   4.5  5.3  3.3
 5.7  5.   7.8  2.4  3.4 ]

In [15]:
print(data.head(10))

   Index   Age     Salary  Rating       Location  Established Easy Apply  \
0      0  44.0  $44k-$99k    5.40       India,In         1999        NaN
1      1  66.0  $55k-$66k    3.50    New York,Ny         2002        NaN
2      2   NaN  $77k-$89k    4.75    New York,Ny           -1        NaN
3      3  64.0  $44k-$99k    4.40       India In         1988        NaN
4      4  25.0  $44k-$99k    6.40  Australia Aus         2002        NaN
5      5  44.0  $77k-$89k    1.40       India,In         1999        NaN
6      6  21.0  $44k-$99k    0.00    New York,Ny           -1        NaN
7      7  44.0  $44k-$99k    4.75  Australia Aus           -1        NaN
8      8  35.0  $44k-$99k    5.40    New York,Ny           -1        NaN
9      9  22.0  $44k-$99k    7.70       India,In           -1        NaN

   Expected_Age  Category_LabelEncoded  Normalized_Rating
0            24                      7           0.692308
1            21                     11           0.448718
2          2024                     12           0.608974
3            35                     10           0.564103
4            21                      4           0.820513
5            24                      7           0.179487
6          2024                      2           0.000000
7          2024                      7           0.608974
8          2024                      6           0.692308
9          2024                      3           0.987179

In [16]:
data['Established'] = data['Established'].replace(-1, np.nan)

In [19]:
median_established = data['Established'].median()
data['Established'] = data['Established'].replace(-1, np.nan).fillna(median_established)
print(data.head(10))

   Index   Age     Salary  Rating       Location  Established Easy Apply  \
0      0  44.0  $44k-$99k    5.40       India,In       1999.0        NaN
1      1  66.0  $55k-$66k    3.50    New York,Ny       2002.0        NaN
2      2   NaN  $77k-$89k    4.75    New York,Ny       1988.0        NaN
3      3  64.0  $44k-$99k    4.40       India In       1988.0        NaN
4      4  25.0  $44k-$99k    6.40  Australia Aus       2002.0        NaN
5      5  44.0  $77k-$89k    1.40       India,In       1999.0        NaN
6      6  21.0  $44k-$99k    0.00    New York,Ny       1988.0        NaN
7      7  44.0  $44k-$99k    4.75  Australia Aus       1988.0        NaN
8      8  35.0  $44k-$99k    5.40    New York,Ny       1988.0        NaN
9      9  22.0  $44k-$99k    7.70       India,In       1988.0        NaN

   Expected_Age  Category_LabelEncoded  Normalized_Rating
0            24                      7           0.692308
1            21                     11           0.448718
2          2024                     12           0.608974
3            35                     10           0.564103
4            21                      4           0.820513
5            24                      7           0.179487
6          2024                      2           0.000000
7          2024                      7           0.608974
8          2024                      6           0.692308
9          2024                      3           0.987179

In [20]:
data['Salary'] = data['Salary'].str.replace('$', '')

<ipython-input-20-2327b68e708f>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary'] = data['Salary'].str.replace('$', '')

In [ ]:
df["Location"] = df["Location"].str.lower().str.replace(",", " " ).str.rstrip("in")

Location column

In [ ]:
data['Location'].str.lower().str.replace(",","").str.rstrip("in")

0             india
1        new yorkny
2        new yorkny
3            india
4     australia aus
5             india
6        new yorkny
7     australia aus
8        new yorkny
9             india
10            india
11            india
12            india
13    australia aus
14    australia aus
15    australia aus
16            india
17       new yorkny
18       new yorkny
19       new yorkny
20       new yorkny
21       new yorkny
22       new yorkny
23       new yorkny
24       new yorkny
25    australia aus
26            india
27            india
28    australia aus
Name: Location, dtype: object

In [ ]:
data['Location'].astype

<bound method NDFrame.astype of 0          India,In
1       New York,Ny
2       New York,Ny
3          India In
4     Australia Aus
5          India,In
6       New York,Ny
7     Australia Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia Aus
14    Australia Aus
15    Australia Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia Aus
26         India,In
27         India,In
28    Australia Aus
Name: Location, dtype: object>

# What questions you can find in dataset 2(chipotle)?
Before you actually answer these questions i will assume you have performed data cleaning.

1. Quantity of each item? (Top 5 itmes available in store)
2. which is most ordered item in choice_description?
3. What is total order count?
4. What is reveneu?
5. what are number of orders?
6. Whta is average revenue amount per order?
7. How many different items are sold?
8. what is revenue from each product?


1. Find the unique items
2. Find total cost and quantity of every unique items
3. Find the average of every unique item
4. Replace the items if abnormal with avg

In [31]:
df = pd.read_csv("/chipotle.tsv",sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [32]:
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

1. Check for missing values in each column (Order ID, Quantity, Item Name, Choice Description, Item Price). How should missing values be handled?

In [34]:
df['choice_description'] = df['choice_description'].fillna('Not Specified')
df = df.dropna(subset=['choice_description'])

2. Verify the data types of each column. Do they align with their expected types, and should any adjustments be made?

In [38]:
print(df.dtypes)
print("Unique values in 'item_price':", df['item_price'].unique())

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object
Unique values in 'item_price': [ 2.39  3.39 16.98 10.98  1.69 11.75  9.25  4.45  8.75 11.25  8.49  2.18
  8.99  1.09  2.95  2.15  3.99 22.5  11.48 17.98 17.5   4.3   5.9   1.25
 23.78  6.49 11.08  1.5  22.16 32.94 22.2  10.58  2.5  23.5   7.4  18.5
  3.    6.78 11.89  9.39  4.    3.75  8.69  2.29  8.9   3.27  3.89  8.19
 35.   27.75 11.8   6.   26.25 21.96  4.36  7.5   4.78 13.35  6.45  5.07
 22.96  7.17  7.98  4.5  26.07 12.98 35.25 44.25 10.5  33.75 16.38 13.52
  5.   15.    8.5  17.8   1.99 11.49]

In [39]:
df['item_price'] = pd.to_numeric(df['item_price'], errors='coerce')
print(df.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

3. Identify and handle duplicated entries in the dataset. How might duplicates impact analysis, and what is the appropriate action?

In [ ]:
print(df[df.duplicated()])

In [43]:
df_no_duplicates = df.drop_duplicates()
aggregated_df = df.groupby(['order_id', 'item_name', 'choice_description']).agg({'quantity': 'sum', 'item_price': 'mean'}).reset_index()

4. Examine the Quantity and Item Price columns. Are there any inconsistencies or anomalies that need correction?

In [ ]:
print(df['quantity'].unique())
print(df['item_price'].unique())

In [ ]:
print(df['quantity'].describe())
print(df['item_price'].describe())

5. Analyze the Choice Description column. How should choices be handled, especially when there are multiple descriptions for a single item?

In [49]:
print(df['choice_description'].unique())

['Not Specified' '[Clementine]' '[Apple]' ...
 '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]'
 '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]'
 '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]']

In [53]:
# Find the rows with malformed nodes in the `choice_description` column.
malformed_rows = df[df['choice_description'].str.contains('<ast.Name object at')]

# Remove the malformed nodes from the rows.
malformed_rows['choice_description'] = malformed_rows['choice_description'].str.replace('<ast.Name object at', '')

# Update the `choice_description` column with the cleaned data.
df['choice_description'] = df['choice_description'].str.replace('<ast.Name object at', '')

<ipython-input-53-d301ee719226>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  malformed_rows['choice_description'] = malformed_rows['choice_description'].str.replace('<ast.Name object at', '')
<ipython-input-53-d301ee719226>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['choice_description'] = df['choice_description'].str.replace('<ast.Name object at', '')

In [61]:
import ast

def parse_choices(x):
    try:
        return ast.literal_eval(x)
    except (SyntaxError, ValueError):
        # Handle the case where x is not a valid Python expression (e.g., "Not Specified")
        return ['Not Specified']

df['choice_description'] = df['choice_description'].apply(lambda x: parse_choices(x) if pd.notna(x) else ['Not Specified'])
df['primary_choice'] = df['choice_description'].apply(lambda x: x[0] if x else 'Not Specified')
df['num_choices'] = df['choice_description'].apply(lambda x: len(x))

# Display unique primary choices and summary statistics for the number of choices
print("Unique primary choices:")
print(df['primary_choice'].unique())

print("\nSummary statistics for 'num_choices':")
print(df['num_choices'].describe())

Unique primary choices:
['Not Specified']

Summary statistics for 'num_choices':
count    4622.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: num_choices, dtype: float64

6. Check for special characters in text-based columns (e.g., Item Name, Choice Description). How can these be addressed for consistency?

In [62]:
import pandas as pd
import re

# Columns to check for special characters
text_columns = ['item_name', 'choice_description']

# Function to check for special characters in a string
def has_special_characters(s):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    return bool(pattern.search(s))

# Check for special characters in each specified column
for column in text_columns:
    # Create a new column indicating whether special characters are present
    df[f'{column}_has_special_characters'] = df[column].apply(lambda x: has_special_characters(str(x)))

# Display rows with special characters in the specified columns
rows_with_special_characters = df[df[[f'{column}_has_special_characters' for column in text_columns]].any(axis=1)]
print("Rows with special characters:")
print(rows_with_special_characters)

# Handle special characters as needed (e.g., remove or replace)
# Example: Remove special characters and leading/trailing whitespaces
for column in text_columns:
    df[column] = df[column].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', str(x).strip()) if pd.notna(x) else x)

# Display the modified DataFrame
print("\nModified DataFrame:")
print(df)

Rows with special characters:
      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

     choice_description  item_price primary_choice  num_choices  \
0       [Not Specified]        2.39  Not Specified            1
1       [Not Specified]        3.39  Not Specified            1
2       [Not Specified]        3.39  Not Specified            1
3       [Not Specified]        2.39  Not Specified            1
4       [Not Specified]       16.98  Not Specified            1
...                 ...         ...            ...          ...
4617    [Not Specified]       11.75  Not Specified            1
4618    [Not Specified]       11.75  Not Specified            1
4619    [Not Specified]       11.25  Not Specified            1
4620    [Not Specified]        8.75  Not Specified            1
4621    [Not Specified]        8.75  Not Specified            1

      item_name_has_special_characters  \
0                                False
1                                False
2                                False
3                                 True
4                                False
...                                ...
4617                             False
4618                             False
4619                             False
4620                             False
4621                             False

      choice_description_has_special_characters
0                                          True
1                                          True
2                                          True
3                                          True
4                                          True
...                                         ...
4617                                       True
4618                                       True
4619                                       True
4620                                       True
4621                                       True

[4622 rows x 9 columns]

Modified DataFrame:
      order_id  quantity                             item_name  \
0            1         1          Chips and Fresh Tomato Salsa
1            1         1                                  Izze
2            1         1                      Nantucket Nectar
3            1         1  Chips and TomatilloGreen Chili Salsa
4            2         2                          Chicken Bowl
...        ...       ...                                   ...
4617      1833         1                         Steak Burrito
4618      1833         1                         Steak Burrito
4619      1834         1                    Chicken Salad Bowl
4620      1834         1                    Chicken Salad Bowl
4621      1834         1                    Chicken Salad Bowl

     choice_description  item_price primary_choice  num_choices  \
0         Not Specified        2.39  Not Specified            1
1         Not Specified        3.39  Not Specified            1
2         Not Specified        3.39  Not Specified            1
3         Not Specified        2.39  Not Specified            1
4         Not Specified       16.98  Not Specified            1
...                 ...         ...            ...          ...
4617      Not Specified       11.75  Not Specified            1
4618      Not Specified       11.75  Not Specified            1
4619      Not Specified       11.25  Not Specified            1
4620      Not Specified        8.75  Not Specified            1
4621      Not Specified        8.75  Not Specified            1

      item_name_has_special_characters  \
0                                False
1                                False
2                                False
3                                 True
4                                False
...                                ...
4617                             False
4618                             False
4619                             False
4620                             False
4621                             False

      choice_description_has_special_characters
0                                          True
1                                          True
2                                          True
3                                          True
4                                          True
...                                         ...
4617                                       True
4618                                       True
4619                                       True
4620                                       True
4621                                       True

[4622 rows x 9 columns]

7. Cross-reference the Order ID column for integrity. Are there any irregularities or patterns that need validation?

In [63]:
import pandas as pd

# Check for irregularities or patterns in the 'order_id' column
order_id_counts = df['order_id'].value_counts()

# Display unique order IDs and their counts
print("Order ID Counts:")
print(order_id_counts)

# Check for duplicated order IDs
duplicated_order_ids = df[df.duplicated(subset='order_id', keep=False)]

# Display rows with duplicated order IDs
print("\nRows with Duplicated Order IDs:")
print(duplicated_order_ids)

Order ID Counts:
926     23
1483    14
205     12
759     11
1786    11
        ..
768      1
341      1
1048     1
94       1
1199     1
Name: order_id, Length: 1834, dtype: int64

Rows with Duplicated Order IDs:
      order_id  quantity                             item_name  \
0            1         1          Chips and Fresh Tomato Salsa
1            1         1                                  Izze
2            1         1                      Nantucket Nectar
3            1         1  Chips and TomatilloGreen Chili Salsa
5            3         1                          Chicken Bowl
...        ...       ...                                   ...
4617      1833         1                         Steak Burrito
4618      1833         1                         Steak Burrito
4619      1834         1                    Chicken Salad Bowl
4620      1834         1                    Chicken Salad Bowl
4621      1834         1                    Chicken Salad Bowl

     choice_description  item_price primary_choice  num_choices  \
0         Not Specified        2.39  Not Specified            1
1         Not Specified        3.39  Not Specified            1
2         Not Specified        3.39  Not Specified            1
3         Not Specified        2.39  Not Specified            1
5         Not Specified       10.98  Not Specified            1
...                 ...         ...            ...          ...
4617      Not Specified       11.75  Not Specified            1
4618      Not Specified       11.75  Not Specified            1
4619      Not Specified       11.25  Not Specified            1
4620      Not Specified        8.75  Not Specified            1
4621      Not Specified        8.75  Not Specified            1

      item_name_has_special_characters  \
0                                False
1                                False
2                                False
3                                 True
5                                False
...                                ...
4617                             False
4618                             False
4619                             False
4620                             False
4621                             False

      choice_description_has_special_characters
0                                          True
1                                          True
2                                          True
3                                          True
5                                          True
...                                         ...
4617                                       True
4618                                       True
4619                                       True
4620                                       True
4621                                       True

[4494 rows x 9 columns]

8. Standardize the Item Name column. Are there variations that can be unified for better analysis?

In [64]:
import pandas as pd

# Standardize the 'item_name' column
df['item_name_standardized'] = df['item_name'].str.lower().str.strip()

# Display unique standardized item names
print("Unique Standardized Item Names:")
print(df['item_name_standardized'].unique())

Unique Standardized Item Names:
['chips and fresh tomato salsa' 'izze' 'nantucket nectar'
 'chips and tomatillogreen chili salsa' 'chicken bowl' 'side of chips'
 'steak burrito' 'steak soft tacos' 'chips and guacamole'
 'chicken crispy tacos' 'chicken soft tacos' 'chicken burrito'
 'canned soda' 'barbacoa burrito' 'carnitas burrito' 'carnitas bowl'
 'bottled water' 'chips and tomatillo green chili salsa' 'barbacoa bowl'
 'chips' 'chicken salad bowl' 'steak bowl' 'barbacoa soft tacos'
 'veggie burrito' 'veggie bowl' 'steak crispy tacos'
 'chips and tomatillo red chili salsa' 'barbacoa crispy tacos'
 'veggie salad bowl' 'chips and roasted chilicorn salsa'
 'chips and roasted chili corn salsa' 'carnitas soft tacos'
 'chicken salad' 'canned soft drink' 'steak salad bowl'
 '6 pack soft drink' 'chips and tomatillored chili salsa' 'bowl' 'burrito'
 'crispy tacos' 'carnitas crispy tacos' 'steak salad'
 'chips and mild fresh tomato salsa' 'veggie soft tacos'
 'carnitas salad bowl' 'barbacoa salad bowl' 'salad' 'veggie crispy tacos'
 'veggie salad' 'carnitas salad']

9.  Investigate the relationships between Quantity and Item Price. Are there cases where adjustments need to be made for accurate analysis?

In [65]:
df['item_price_numeric'] = pd.to_numeric(df['item_price'].replace('[\$,]', '', regex=True), errors='coerce')
print(df[['quantity', 'item_price_numeric']].describe())

          quantity  item_price_numeric
count  4622.000000         4622.000000
mean      1.075725            7.464336
std       0.410186            4.245557
min       1.000000            1.090000
25%       1.000000            3.390000
50%       1.000000            8.750000
75%       1.000000            9.250000
max      15.000000           44.250000

10. Perform a data integrity check by ensuring that quantities and prices align with the corresponding items and descriptions.

In [66]:
import pandas as pd

# Check for inconsistencies between quantities, item prices, and descriptions
inconsistent_entries = df[df['quantity'] * df['item_price_numeric'] != df['item_price_numeric']]

# Display rows with inconsistent entries
print("Rows with Inconsistent Entries:")
print(inconsistent_entries)

# Check for missing values in relevant columns
missing_values = df[['quantity', 'item_price_numeric', 'item_name', 'choice_description']].isnull().sum()

# Display missing values
print("\nMissing Values:")
print(missing_values)

Rows with Inconsistent Entries:
      order_id  quantity           item_name choice_description  item_price  \
4            2         2        Chicken Bowl      Not Specified       16.98
18           9         2         Canned Soda      Not Specified        2.18
51          23         2         Canned Soda      Not Specified        2.18
135         60         2  Chicken Salad Bowl      Not Specified       22.50
148         67         2       Steak Burrito      Not Specified       17.98
...        ...       ...                 ...                ...         ...
4491      1786         4   Canned Soft Drink      Not Specified        5.00
4499      1789         2   Canned Soft Drink      Not Specified        2.50
4560      1812         2   Canned Soft Drink      Not Specified        2.50
4561      1813         2  Chicken Salad Bowl      Not Specified       17.50
4582      1822         2       Bottled Water      Not Specified        3.00

     primary_choice  num_choices  item_name_has_special_characters  \
4     Not Specified            1                             False
18    Not Specified            1                             False
51    Not Specified            1                             False
135   Not Specified            1                             False
148   Not Specified            1                             False
...             ...          ...                               ...
4491  Not Specified            1                             False
4499  Not Specified            1                             False
4560  Not Specified            1                             False
4561  Not Specified            1                             False
4582  Not Specified            1                             False

      choice_description_has_special_characters item_name_standardized  \
4                                          True           chicken bowl
18                                         True            canned soda
51                                         True            canned soda
135                                        True     chicken salad bowl
148                                        True          steak burrito
...                                         ...                    ...
4491                                       True      canned soft drink
4499                                       True      canned soft drink
4560                                       True      canned soft drink
4561                                       True     chicken salad bowl
4582                                       True          bottled water

      item_price_numeric
4                  16.98
18                  2.18
51                  2.18
135                22.50
148                17.98
...                  ...
4491                5.00
4499                2.50
4560                2.50
4561               17.50
4582                3.00

[267 rows x 11 columns]

Missing Values:
quantity              0
item_price_numeric    0
item_name             0
choice_description    0
dtype: int64

11. : If needed, convert the cleaned dataset to a CSV file using the to_csv function with sep=','.

In [67]:
df.to_csv('cleaned_dataset.csv', sep=',', index=False)

12. For categorical columns (e.g., Item Name), consider encoding or transforming them into a format suitable for analysis.

In [68]:
# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=['item_name'], prefix='item')

# Display the first few rows of the encoded DataFrame
print(df_encoded.head())

   order_id  quantity choice_description  item_price primary_choice  \
0         1         1      Not Specified        2.39  Not Specified
1         1         1      Not Specified        3.39  Not Specified
2         1         1      Not Specified        3.39  Not Specified
3         1         1      Not Specified        2.39  Not Specified
4         2         2      Not Specified       16.98  Not Specified

   num_choices  item_name_has_special_characters  \
0            1                             False
1            1                             False
2            1                             False
3            1                              True
4            1                             False

   choice_description_has_special_characters  \
0                                       True
1                                       True
2                                       True
3                                       True
4                                       True

                 item_name_standardized  item_price_numeric  ...  \
0          chips and fresh tomato salsa                2.39  ...
1                                  izze                3.39  ...
2                      nantucket nectar                3.39  ...
3  chips and tomatillogreen chili salsa                2.39  ...
4                          chicken bowl               16.98  ...

   item_Steak Crispy Tacos  item_Steak Salad  item_Steak Salad Bowl  \
0                        0                 0                      0
1                        0                 0                      0
2                        0                 0                      0
3                        0                 0                      0
4                        0                 0                      0

   item_Steak Soft Tacos  item_Veggie Bowl  item_Veggie Burrito  \
0                      0                 0                    0
1                      0                 0                    0
2                      0                 0                    0
3                      0                 0                    0
4                      0                 0                    0

   item_Veggie Crispy Tacos  item_Veggie Salad  item_Veggie Salad Bowl  \
0                         0                  0                       0
1                         0                  0                       0
2                         0                  0                       0
3                         0                  0                       0
4                         0                  0                       0

   item_Veggie Soft Tacos
0                       0
1                       0
2                       0
3                       0
4                       0

[5 rows x 60 columns]

13.  Ensure consistency in units for Quantity and Item Price. Should any conversions or adjustments be made for uniform analysis?

In [69]:
# Check Quantity for non-integer values
non_integer_quantities = df[~df['quantity'].astype(int).eq(df['quantity'])]
print("Non-integer Quantity values:")
print(non_integer_quantities[['quantity', 'item_name']])

# Check Item Price for non-numeric values
non_numeric_prices = df[pd.to_numeric(df['item_price'], errors='coerce').isnull()]
print("\nNon-numeric Item Price values:")
print(non_numeric_prices[['quantity', 'item_name', 'item_price']])

Non-integer Quantity values:
Empty DataFrame
Columns: [quantity, item_name]
Index: []

Non-numeric Item Price values:
Empty DataFrame
Columns: [quantity, item_name, item_price]
Index: []